body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    width: 600px;
    margin: 30px auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

section {
    width: 1100px;
    margin: 10px auto;
    background: linear-gradient(0.25turn, #a3a3a3, #f7f7f3, #a3a3a3);
    padding: 10px 0 50px;
}

.lap {
    margin: 0 auto;
    padding: 5px 0;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    border-radius: 7.5%;
}

.tartalom {
    position: relative;
    display: flex;
    justify-content: center;
    width: 800px;
}

.kozepkep {
    height: 400px;
    overflow: hidden;
    display: flex;
}

.flexend {
    align-items: flex-end;
}

.flexstart {
    align-items: flex-start;
}

.flexcenter {
    align-items: center;
}

#photo {
    min-width: 800px;
    min-height: 400px;
    display: block;
}

.felirat {
    position: absolute;
    bottom: 0;
    background-color: rgba(14, 11, 11, 0.65);
    color: rgb(233, 230, 52);
    max-width: 600px;
    padding: 5px;
}

.balra,
.jobbra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    /* height: 300px; */
}

.lap .nyil {
    width: 75%;
}

.jobbra .nyil {
    transform: rotate(180deg);
}

.felirat h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    margin: 0;
}

.kereso,
.miez {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    justify-content: space-between;
}

.kepcim {
    text-align: center;
    width: 80px;
    margin-top: 20px;
    visibility: hidden;
}

.indexkep {
    border: 1px solid grey;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.indexkep:hover {
    box-shadow: 0 0 30px 10px orange;
    font-size: 1rem;
    font-display: ;
}

.indexkep img {
    height: 80px;
}

.arnyek {
    box-shadow: 0 0 20px 5px;
}

.lathato {
    visibility: visible;
}

.tartalom:hover .felirat {
    color: chartreuse;
}