section {
    width: 80%;
    margin: auto;
    background-color: lightsteelblue;
    padding: 30px;
}

.lap {
    display: flex;
    background-color: white;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.kozep {
    width: 500px;
}

.lap .nyil {
    height: 50px;
}

.tartalom {
    position: relative;
    height: 500px;
    align-items: center;
}

.felirat {
    position: absolute;
    bottom: 0;
    background-color: grey;
}